@using System.Globalization
@inherits DayMonthPickerBase<DateOnly?>

<div class="day-month-picker">
    <select value="@SelectedMonth" @onchange="OnMonthChanged">
        <option value="">-- Month --</option>
        @foreach (var m in Enumerable.Range(1, 12))
        {
            <option value="@m">@CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(m)</option>
        }
    </select>

    <select value="@SelectedDay" @onchange="OnDayChanged" disabled="@(!SelectedMonth.HasValue)">
        <option value="">-- Day --</option>
        @foreach (var d in Enumerable.Range(1, DaysInSelectedMonth))
        {
            <option value="@d">@d</option>
        }
    </select>
</div>
