@if (Persons.Any())
{
    <table class="table">
        <thead>
            <tr>
                <AuthorizeView Roles="Administrator">
                    <Authorized>
                        <th scope="col">Image</th>
                    </Authorized>
                </AuthorizeView>
                <th scope="col">Name</th>
                <th scope="col">Surname</th>
                <th scope="col">Birthday</th>
                <th scope="col">Nameday</th>
                <th scope="col">Update</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var person in Persons)
            {
            <tr>
                <AuthorizeView Roles="Administrator">
                    <Authorized>
                        <td>
                            <a href="/person/@person.Id">                                
                                <img src="@person.ImageUrl" alt="" style="width:100px;" />                                                                                              
                            </a>
                        </td>
                    </Authorized>
                </AuthorizeView>
                <td class="align-middle">
                    <a href="/person/@person.Id">
                        @person.Name
                    </a>
                </td>
                <td class="align-middle">
                    @person.Surname
                </td>
                <td class="align-middle">
                    @(person.DayOfBirth.HasValue? person.DayOfBirth.Value.ToString("dd.MM.") : "")
                </td>
                <td class="align-middle">
                    @person.DayOfNameDay.ToString("dd.MM.")
                </td>
                <td class="align-middle">
                    <a class="btn btn-info" href="/updatePerson/@person.Id">
                        Update
                    </a>
                </td>
                <td class="align-middle">
                    <button type="button" class="btn btn-danger"
                            @onclick="() => CallConfirmationModal(person.Id)">
                        Delete
                    </button>
                </td>
            </tr>
            }
        </tbody>
    </table>
    <Confirmation BodyMessage="Do you want to delete this person?"
                  OnOKClicked="DeletePerson" @ref="_confirmation" />
}
else
{
<table class="table">
    <thead>
        <tr>
            <AuthorizeView Roles="Administrator">
                <Authorized>
                    <th scope="col"></th>
                </Authorized>
            </AuthorizeView>
            <th scope="col">Name</th>
            <th scope="col">Surname</th>
            <th scope="col">BirthDay</th>
            <th scope="col">NameDay</th>
            <th scope="col">Update</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>    
</table>
<span>
    Loading persons...
</span>
}
