@if (Users.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">User</th>
                <th scope="col">Update to admin</th>
                <th scope="col">Remove admin role</th>
                <th scope="col">Admin role</th>
                <th scope="col">Delete user</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Users)
            {
            <tr>
                <td class="align-middle">
                    @user.Email
                </td>
                <td class="align-middle">
                    <button type="button" class="btn btn-info"
                            @onclick="() => UpdateUser(user)" disabled="@(user.IsAdmin || (LoggedUser == user.Email))">
                        Update to Admininstrator
                    </button>
                </td>
                <td class="align-middle">
                    <button type="button" class="btn btn-danger"
                            @onclick="() => RemoveAdminRole(user)" disabled="@((!user.IsAdmin) || (LoggedUser == user.Email))">
                        Remove Admininstrator role
                    </button>
                </td>
                <td class="align-middle">
                    @(user.IsAdmin ? "yes" : "no")
                </td>
                <td class="align-middle">
                    <button type="button" class="btn btn-danger"
                            @onclick="() => CallConfirmationModal(user)" disabled="@(LoggedUser == user.Email)">
                        Delete User
                    </button>
                </td>
                <td>
                    @*https://blazor.radzen.com/switch*@
                    <RadzenSwitch @bind-Value=@user.TwoFactorEnabled Style="margin-bottom: 20px" Change=@(args => OnChange(args, user)) />
                </td>
            </tr>
            }
        </tbody>
    </table>
    <Confirmation BodyMessage="Do you want to delete this user?"
                  OnOKClicked="DeleteUser" @ref="_confirmation" />
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">User</th>
                <th scope="col">Update to admin</th>
                <th scope="col">Remove admin role</th>
                <th scope="col">Admin role</th>
                <th scope="col">Delete user</th>
            </tr>
        </thead>
    </table>
    <span>
        Loading users...
    </span>
}
