@page "/person/{personId:guid}"

<div class="card">
    <div class="card-body">        
        <div class="row">
            <AuthorizeView Roles="Administrator">
                <Authorized>
                    <div class="col-md-4">
                        <img class="person-image" src="@Person.ImageUrl" alt="" />
                    </div>
                </Authorized>
            </AuthorizeView>
            <div class="col-md-8">              
                <div class="row">
                    <div class="col">
                        <h3 class="person-title">@Person.Name @Person.Surname</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <span class="person-description">
                            Birthday date: @(Person.DayOfBirth.HasValue? Person.DayOfBirth.Value.ToString("dd.MM.") : "")
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <span class="person-description">
                            Nameday Date: @Person.DayOfNameDay.ToString("dd.MM.")
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<div class="row">
	<div class="col">
		<a href="/persons" class="btn btn-success">Back</a>
	</div>
</div>