@page "/updatePerson/{id:guid}"

<h2>Update Person Form</h2>

@if (PersonForUpdateDto != null)
{

<EditForm EditContext="_editContext" OnValidSubmit="Update" class="card card-body bg-light mt-5">
    <DataAnnotationsValidator />

    <div class="form-group row">
        <label for="name" class="col-md-2 col-form-label">Name:</label>
        <div class="col-md-10">
            <InputText id="name" class="form-control" @bind-Value="PersonForUpdateDto.Name" />
            <ValidationMessage For="@(() => PersonForUpdateDto.Name)" />
        </div>
    </div>
    <div class="form-group row">
        <label for="supplier" class="col-md-2 col-form-label">Surname:</label>
        <div class="col-md-10">
            <InputText id="surname" class="form-control" @bind-Value="PersonForUpdateDto.Surname" />
            <ValidationMessage For="@(() => PersonForUpdateDto.Surname)" />
        </div>
    </div>
    <div class="form-group row">
        <label for="price" class="col-md-2 col-form-label">BirthDay:</label>
        <div class="col-md-10">
            <InputDate id="birthDay" class="form-control" @bind-Value="PersonForUpdateDto.DayOfBirth" />
            <ValidationMessage For="@(() => PersonForUpdateDto.DayOfBirth)" />
        </div>
    </div>
    <div class="form-group row">
	    <label for="price" class="col-md-2 col-form-label">NameDay:</label>
	    <div class="col-md-10">
		    <InputDate id="NameDay" class="form-control" @bind-Value="PersonForUpdateDto.DayOfNameDay" />
		    <ValidationMessage For="@(() => PersonForUpdateDto.DayOfNameDay)" />
	    </div>
    </div>
    <AuthorizeView Roles="Administrator">
	    <Authorized Context="Auth">
		    <div class="form-group row">
			    <label for="image" class="col-md-2 col-form-label">Image:</label>
			    <div class="col-md-10">
				    <ImageUpload OnChange="AssignImageUrl" ImgUrl="@PersonForUpdateDto.ImageUrl" />
			    </div>
		    </div>
		</Authorized>
	</AuthorizeView>
    <div class="row">
        <div class="col-md-12 text-right">
            <button type="submit" class="btn btn-success"
                    disabled="@formInvalid">
                Update
            </button>
        </div>
    </div>
</EditForm>
    <br />
    <div class="row">
        <div class="col">
            <a href="/persons" class="btn btn-success">Back</a>
        </div>
    </div>
}